@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

:root {
    $grid-cols: 1;
    $grid-rows: 1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template: "options" min-content "grid-map" min-content / min-content;
    margin-top: 6em;
    padding: 0em 2em;
}

.settings {
    grid-area: options;
    display: flex;
    justify-content: space-around;
}

.grid-map {
    border: 1px solid #56CFE1;
    grid-area: grid-map;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}


.navbar {
    background-color: #007ea7;
    padding: 0.5em 0.5em;
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    color: white;

    display: grid;
    grid-template: "brand dropdown run clea-r ." / 2fr 3fr 1fr 1fr 1fr; 
    gap: 0 1rem;
    align-items: center;

    .brand {
        grid-area: brand;
        font-weight: 600;
        font-size: 1.6rem;
    }

    button {
        border: none;
        padding: 0.5em 0.75em;
        font-size: 1.2rem;
        cursor: pointer;
        transition: background-color 150ms ease-in-out;
        color: white;
    }
    .btn-run {
        grid-area: run;
        background-color: lightseagreen;
        &:hover {
            background-color: rgb(33, 172, 165); 
        }
    }

    .btn-is-running {
        grid-area: run;
        background-color: rgb(182, 27, 27);
        &:hover {
            background-color: rgb(156, 26, 26); 
        }
    }

    .btn-clear {
        grid-area: clea-r;
        background-color: lightseagreen;
        &:hover {
            background-color: rgb(33, 172, 165); 
        }
    }

    .btn-disabled {
        background-color: rgb(94, 99, 105);
        &:hover {
            background-color: rgb(78, 83, 88); 
        }
    }
}
